.title {
    color: #fff;
    padding-bottom: 10px;
    background-color: green;
    width: 400px;
    margin: auto;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.container-folder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.folder {
    width: 18%;    
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    text-align: left;
    line-height: 30px;
}

.img {
    width: 220px;
    height: 150px;
}